<!DOCTYPE html>
<html lang="es">
<%- include('partials/head'); %>
<body>
	<%- include('partials/navbar'); %>
	
	<!-- Login-Form -->
	<!-- <div>
		<img src="images/el-diegote-logo.PNG" alt="logo">

	</div> -->
	<div class="container my-5">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<!-- <h2>Iniciar sesi칩n</h2> -->
	
				<form method="POST" action="/user/login">
					<a class="back-home" href= "/"> <img id="el-diegote-logo" src="./images/el-diegote-logo.png">   </a>
					<p  class="form-title" id="title-login">Iniciar sesi칩n</a><br><br>
					<div class="row">
						<div class="col-md-6 my-2">
							<section id="login">
								<div class="form-group">
									<label><b>Correo electr칩nico:</b></label>
									<input type="text" name="email" class="form-control" id="input-username" placeholder="Nombre de usuario">
									<% if (locals.errors && errors.email) { %>
										<div class="text-danger">
											<%= errors.email.msg %>
										</div>
									<% } %>
								</div>
							</div>
							<div class="col-md-6 my-2">
								<div class="form-group">
									<label><b>Password:</b></label>
									<input type="password" name="password" class="form-control" placeholder="Ingresa tu contrase침a" id="pass">
									<div class="invalid-feedback">
									</div>
								</div>
							</div>


							</section>
						<div class="col-md-6 my-2">
							<div class="form-group form-check">
								<label class="form-check-label">
									<input type="checkbox" class="form-check-input" name="remember_user">Recordar mi usuario
								</label>
							</div>
						</div>
						<div class="col-12 my-3">
							<button type="submit" class="btn btn-primary">Loguearme</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- //Login-Form -->
	
	<%- include('partials/footer'); %>
</body>
</html>